<html>
    <head>
        <title>Welcome to my web server {{ ansible_hostname }}.{{ domain }}!</title>
    </head>
    <body>
        <h1>Welcome to my web server {{ ansible_hostname }}.{{ domain }}!</h1>
    </body>
</html>